@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
.card-author a {
  font-size: 18px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  text-decoration: none;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border-radius: 12px;
  font-weight: 600;
}

.card-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-image > img {
  width: 100%;
  border-radius: 6px;
}

.card-image .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: hsl(178, 100%, 50%);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity ease-in 0.2s;
}

.card-image .overlay > img {
  width: 50px;
}

.card-image:hover .overlay {
  opacity: 0.6;
}

.card-main h1 a {
  color: #fff;
  font-size: 22px;
  margin: 20px 0;
  text-decoration: none;
}

.card-data {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid hsl(215, 32%, 27%);
  width: inherit;
}

.price {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.price img {
  width: 10px;
}

.card-author {
  width: inherit;
  position: relative;
}

.card-author img {
  width: 32px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 12px;
  position: absolute;
  top: 16px;
}

.card-author p {
  display: inline-block;
  margin-left: 50px;
}

.card-main h1 a:hover,
a:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  margin: 30px 0;
  color: hsl(215, 32%, 27%);
}

.attribution a {
  color: hsl(215, 32%, 27%);
}
